.tab_set{

}

.tab_buttons {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    grid-gap: 3px;
}

.tab_button {
    border: 1px solid black;
    border-bottom: none;
    padding: 5px;
    user-select: none;
    background-color: rgb(236, 236, 236);
    text-align: center;
}

.tab_button.selected {
    background-color: white;
    box-shadow: 0 2px 0 -1px white;
    font-weight: bold;
}

.tab_button.selected:hover {
    background-color: white;
}

.tab_button:hover {
    background-color: rgb(219, 219, 219);
}

.tab_view{
    border: 1px solid black;
    padding: 5px;
}