#inventory {
    justify-content: stretch;
    padding: 0px 3rem;
}

#inventory table {
    border: 1px solid black;
    width: 100%;

}

#inventory .table-title {
    text-align: center;
}

#inventory th,td {
    padding: 2px;
}

#inventory .qty {
    text-align: right;
}